img{
    width: 400px;
}

body{
    background-color: antiquewhite !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: left !important;
    /* make room for footer */
    padding-bottom: 100px;

}

.funfact {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-weight: bolder;
}

.resume {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align:left
    
}

.beginning {
    text-align: center !important;
    
}

